/* nav bar start  */

/* nav bar end  */

/* <!--  important info start  --> */
.importantInfo{
    font-size: 15px;
    color: white;
    padding: 15px;
    margin: 0;
    
}
.importantInfoSection{
    background-color: rgb(149,149,149);
}
/* <!--  important info end  --> */

/* 1st slider start  */
.firstCarousel img{
   height: 620px;
  
}
@media only screen and (max-width: 600px) {
    .firstCarousel img {
        height: 320px;
    }
  
  }
/* 1st slider end  */

/* <!-- What can we help you find? start  --> */
.helpFind{
    text-align: center;
}
.deviceShowBtn{
    border: 0;
    background-color:white;
    color: black;
   font-size: 25px;
   margin-left: 2%;
}
.pcOrPrinters{
    text-align: center;
    
}
.pcOrPrinters a{
  margin-left: 2%;
  text-decoration: none;
  color: black;
  font-size: 25px;
}
/* <!-- What can we help you find? end  --> */

/* <!-- Can't find what you're looking for start  --> */
.searchSomething{
    display:flex;
    justify-content: center;
    /* background-color: white; */
}

.searchSectiontext{
    text-align: center;

}

/* /////////////////////////// */
.searchBoxFooter{
    /* padding-left: 40%; */
   margin-bottom: 2%;
   margin-top: 2%;
   background-color: rgb(232,232,232);
   padding: 10%;

     
  }
  @media only screen and (max-height: 600px) {
      .searchBoxFooter {
       
          margin-left: 3%;
      }
    
}
.placeholder{
    padding-right: 500px;
    
}

@media only screen and (max-width: 600px) {
    .placeholder{
        padding-right: 0px;
        
        
    }
    
  }
    .has-search .form-control {
        padding-left: 1.375rem;
        text-align: left;
        /* width: 40%;   
        border-radius: 20px; */
    }
     
    
  
  .has-search .form-control {
      padding-left: 3.375rem;
      text-align: left;
      /* width: 40%;   
      border-radius: 20px; */
  }
  
  
  .has-search .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: 4.375rem;
      height: 4.375rem;
      line-height: 2.375rem;
      text-align: center;
      /* pointer-events: none; */
     
  }
 


/* <!-- Can't find what you're looking for end  --> */